Pokemon - Red Version (USA, Europe).gb.ram
state_file_1.state
state_file_2.state
state_file_3.state
state_file_4.state
state_file_5.state
state_file_6.state
state_file_7.state
state_file_8.state
state_file_9.state
state_file_0.state
.vscode/launch.json
__pycache__/mem_scanner.cpython-312.pyc
